.nav {
  padding-left: 16px;
  padding-right: 16px;
}

#main-container {
  margin-top: 56px;
}

.image_container {
  animation-name: fade_in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-bottom: 20px;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#question {
  cursor: pointer;
}

.correct {
  background-color: #859C27;
}

.wrong {
  background-color: #FF4040;
}

/* remove radio buttons from screen area */
input[type='radio'], #submit-button {
  position:absolute;
  left:-99em;
}

#landing-title {
  animation-name: slide_down;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes slide_down {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

#landing-prompt {
  animation-name: fade_in;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

#congrat {
  animation-name: slide_down;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

#confirm-text > p {
  height:40px;
}
