.nav {
  padding-left: 16px;
  padding-right: 16px;
}

#main-container {
  margin-top: 56px;
}

#navbar {
  background-color: $warning;
}

.image_container {
  animation-name: slide_in;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

#question {
  cursor: pointer;
}

@keyframes slide_in {
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}