.nav {
  padding-left: 16px;
  padding-right: 16px;
}

#main-container {
  margin-top: 56px;
}

.image_container {
  animation-name: fade_in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes fade_in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}