<div id="main-container" class="container is-fluid">
  <div class="content has-text-centered">
    <p id="congrat" class="title is-large">Congratulations!</p>
    <p id="congrat" class="subtitle">Your accuracy is: <%= @game.score %>%</p>
    <a class="button is-primary is-large" href="/">Play again?</a>
  </div>
</div>