<div class="content has-text-centered"
  <p class="title">Congratulations!</p>
  <p class="subtitle">Your score is: <%= @game.score %></p>
  <a class="button is-primary is-large" href="../play">Play again?</a>
</div>