<div id="main-container" class="container is-fluid">
  <p id="landing-title" class="title has-text-centered">Welcome to Teaching Tots</p>
  <p class="subtitle has-text-centered"></p>

  <div class="content has-text-centered">
    <p id="landing-prompt">Please select a category</p>
  </div>

  <div class="level has-text-centered">
    <% Question::CATEGORIES.each_pair do |keyword, verbose| %>
      <a class="button is-primary is-medium" href="/play/<%=keyword%>"><%= verbose %></a>
    <% end %>
    <a class="button is-primary is-medium" href="/play">Grab Bag</a>
  <div>
</div>