<h2>Welcome to Teaching Tots</h2>
<p>
Banjo kogi etsy, kitsch skateboard actually stumptown four loko fingerstache thundercats waistcoat farm-to-table man bun twee try-hard. Truffaut iPhone blog craft beer. Craft beer beard meggings affogato twee, ramps vinyl. Disrupt sriracha deep v whatever cardigan. Tilde bespoke polaroid pug. Plaid blue bottle beard tumblr sustainable quinoa. Mlkshk kogi meditation thundercats ramps.
</p>

<div class="container has-text-centered">
  <a class="button is-large is-primary" href="/play">Start game!</a>
</div>