<p class="title has-text-centered">Welcome to Teaching Tots</p>

<div class="container">
  <p>
    Banjo kogi etsy, kitsch skateboard actually stumptown four loko fingerstache thundercats waistcoat farm-to-table man bun twee try-hard. Truffaut iPhone blog craft beer. Craft beer beard meggings affogato twee, ramps vinyl. Disrupt sriracha deep v whatever cardigan. Tilde bespoke polaroid pug. Plaid blue bottle beard tumblr sustainable quinoa. Mlkshk kogi meditation thundercats ramps.
  </p>

  <ul>
    <% Question::CATEGORIES.each_pair do |keyword, verbose| %>
      <li> <a href="/play/<%=keyword%>"><%= verbose %> </a></li>
    <% end %>
    <li><a href="/play">Grab Bag</a></li>
  </ul>
</div>

<div class="container has-text-centered">
  <a class="button is-large is-primary" href="/play">Start game!</a>
</div>