<div id="main-container" class="container is-fluid">
  <p id="landing-title" class="title has-text-centered">Welcome to KnowBaby</p>
  <p id="landing-title" class="subtitle has-text-centered">KnowBaby leaves no baby un-educated</p>

  <div class="content has-text-centered">
    <p id="landing-prompt">Please select a category</p>
  </div>

  <div class="level has-text-centered" style="justify-content:center">
    <% Question::CATEGORIES.each_pair do |keyword, verbose| %>
      <a class="button is-primary is-medium" style="margin:5px"href="/play/<%=keyword%>"><%= verbose %></a>
    <% end %>
    <a class="button is-primary is-medium" style="margin:5px" href="/play">Grab Bag</a>
  <div>
</div>