<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bulma.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script>
    $(function () {

      $('body')
        .on('change', 'input[type=radio]', function () {
          var radioButton = $(this);
          radioButton.closest('label').addClass('selected').siblings('label').removeClass('selected');
          radioButton.closest('form').trigger('submit');
        })
        .on('submit', 'form', function (event) {
          event.preventDefault();
          var form = $(this);
          // form.find('button').prop('disabled', true).text('loading...');
          $.ajax({
            url: form.attr('action'),
            method: form.attr('method'),
            data: form.serialize(),
            success: function (res) {
              $('body').html(res);
            }
          });
        })
        .on('click', '#button-next', function () {
          $.ajax({
            url: '/play',
            method: 'POST',
            data: { button: 'next' },
            success: function (res) {
              $('body').html(res);
            }
          });
        })
        .on('mouseover','#question', function() {
          $(this).css('cursor','pointer');
        })
        .on('mouseover','#question', function() {
          $(this).draggable({ revert: "invalid" });
        })
        .on('mouseover mouseenter', 'img', function() {
          $(this).droppable ( {
            accept: "#question",
            drop: function() {
              $(this).closest('label').children('input[type=radio]').prop('checked', true).change();
            }
          });
        })
    });
  </script>

  <style>
    input[type='radio'], #submit-button {
      position:absolute;
      left:-99em;
    }

  </style>

  <title></title>
</head>
<body>
  <%= erb :menu %>
  <div id="main-container" class="container is-fluid">
    <%= yield %>
  </div>
</body>
</html>

