<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bulma.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script>
    $(function () {

      $('body')
        .on('change', 'input[type=radio]', function () {
          var radioButton = $(this);
          radioButton.closest('label').addClass('selected').siblings('label').removeClass('selected');
          radioButton.closest('form').trigger('submit');
        })
        .on('submit', 'form', function (event) {
          event.preventDefault();
          var form = $(this);
          // form.find('button').prop('disabled', true).text('loading...');
          $.ajax({
            url: form.attr('action'),
            method: form.attr('method'),
            data: form.serialize(),
            success: function (res) {
              $('body').html(res);
            }
          });
        });
    });

    $(function() {
        $("#question").draggable({ revert: "invalid" });
        $("img").droppable({
          accept: "#question",  
          drop: function( event, ui ) {
            $( this )
            .addClass( "answered" );
          };
        });
    });
    
  </script>

  <title></title>
</head>
<body>
  <%= erb :menu %>
  <div id="main-container" class="container is-fluid">
    <%= yield %>
  </div>
</body>
</html>

