<nav id="navbar" class="nav">
  <div class="nav-left">
    <div class="nav-item">
      <a href="/">
      <!-- logo goes here -->
      <p class="title is-3">Logo</p>
      <p class="subtitle is-5">Put here</p>
      </a>
    </div>
  </div>
  <div class="nav-right">
    <a class="nav-item">About</a>
    <a class="nav-item">Contact</a>
    <span class="nav-item">
      <a class="button is-primary" href="/play">Play</a>
    </span>
  </div>
</nav>