<nav class="nav">
  <div class="nav-left">
    <div class="nav-item">
      <a href="/">
        <img src="/images/knowbaby.png">
      </a>
    </div>
  </div>
  <span id="nav-toggle" class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div id="nav-menu" class="nav-right nav-menu">
    <a class="nav-item" href="#">About</a>
    <a class="nav-item" href="#">Contact</a>
    <span class="nav-item">
      <a class="button is-primary" href="/">New Game</a>
    </span>
  </div>
</nav>
